<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	<h2>Complete Reservation</h2>
	Airlines:
	<strong th:text="${flight.operatingAirlines}"></strong>
	<br> Airlines:
	<strong th:text="${flight.departureCity}"></strong>
	<br> Airlines:
	<strong th:text="${flight.arrivalCity}"></strong>
	<br>
	<form action="completeReservation" method="post">
		<h2>Passenger Details</h2>
		<input type="hidden" name="flightId" th:value="${flight.id}">
		First Name: <input type="text" name="passengerfristName" /><br>
		<br> Middle Name: <input type="text" name="passengermiddleName" /><br>
		<br> Last Name: <input type="text" name="passengerlastName" /><br>
		<br> Email: <input type="text" name="passengerEmail" /><br>
		<br> Phone: <input type="text" name="passengerphone" /><br>

		<h2>Card Details</h2>
		Name of the card: <input type="text" name="nameOfTheCard"><br>
		<br> Card No: <input type="text" name="cardNo"><br>
		<br> Expiery Date: <input type="text" name="expirationDate"><br>
		<br> Three Digit Security Code: <input type="text"
			name="securityCode"><br>
		<br> <input type="submit" value="submit">
	</form>
	<footer th:replace="common/footer :: common-footer"></footer>
</body>
</html>