<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	<div></div>
	<div class="text-center" style="padding: 3%; background-color:#542a0c; color: white;">
		<h1>Available Flight List</h1>
		</div>
		<div class="table-responsive" style="padding: 1%; background-color: ">
			<table id="myTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Flight Number</th>
						<th>Operating Airlines</th>
						<th>Departure City</th>
						<th>Arrival City</th>
						<th>Date Of Departure</th>
						<th>Estimated Departure Time</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="flight : ${flightList}">
						<td th:text="${flight.flightNumber}"></td>
						<td th:text="${flight.operatingAirlines}"></td>
						<td th:text="${flight.departureCity}"></td>
						<td th:text="${flight.arrivalCity}"></td>
						<td th:text="${flight.dateOfDeparture}"></td>
						<td th:text="${flight.estimatedDepartureTime}"></td>
						<td>
						<a
							th:href="@{/admin/updateFlight?id=}+${flight.id}">Update </a>
								&nbsp; &nbsp; <a
							th:href="@{/admin/deleteFlight?id=}+${flight.id}">Delete</a>
								</td>

					</tr>

				</tbody>
			</table>
		</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTable').DataTable();
		});
	</script>
</body>
<footer th:replace="common/footer :: common-footer" style="margin-top: 3%; "></footer>
</html>