<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	<header class="bg-primary text-white"
		style="background-image: url('image/flight.jpg');">
		<div class="container text-center">
			<h1>Welcome Flight Reservation</h1>
			<p class="lead">Search your flight for your destination place</p>
		</div>
	</header>
<footer th:replace="common/footer :: common-footer" style="margin-top: 2%;"></footer>
</body>

</html>
