<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container" style="margin-top: 5%;">
		<div style="background-color: #92a8d1; padding: 2%;">
			<h2 class="text-center">
				<b><i>Regestration Form</i></b>
			</h2>
		</div>
		<hr />
		<div style="margin-left: 25%;">
			<form class="well form-horizontal col-xs-8" action="registerUser"
				method="post" id="formvalidate">
				
			<div class="form-group">
				<div class="row">
					<label class="col-sm-3 control-label">Frist Name</label>

					<div class="col-sm-6">
						<input name="fristName" class="form-control"
							required="required" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<label class="col-sm-3 control-label">Last Name</label>

					<div class="col-sm-6">
						<input name="lastName" class="form-control"
							required="required" />
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="row">
					<label class="col-sm-3 control-label">User Name</label>

					<div class="col-sm-6">
						<input name="userName" class="form-control"
							required="required" />
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="row">
					<label class="col-sm-3 control-label">Email</label>

					<div class="col-sm-6">
						<input name="email" class="form-control"
							required="required" />
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="row">
					<label class="col-sm-3 control-label">Password</label>

					<div class="col-sm-6">
						<input name="password" class="form-control"
							required="required" />
					</div>
				</div>
			</div>
			
				<div style="margin-left: 250px;">
					<button type="submit" class="btn btn-primary">
						<i class="glyphicon glyphicon-arrow-right"></i> Sign in
					</button>
				</div>

			</form>

		</div>
	</div>
</body>
</html>