<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Flights</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<table class="table table-dark">
		<thead>
			<tr>

				<th scope="col">AirLines</th>
				<th scope="col">Departure City</th>
				<th scope="col">Arrivale City</th>
				<th scope="col">Select Flight</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="flight : ${flights}">
				<td th:text="${flight.operatingAirlines}"></td>
				<td th:text="${flight.departureCity}"></td>
				<td th:text="${flight.arrivalCity}"></td>
				<td><a
					th:href="@{/showcompleteReservation(flightId=${flight.id})}"></a></td>
			</tr>

		</tbody>
	</table>
</body>
</html>