<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common-header">
<meta charset="ISO-8859-1">

<title>FlightReservation</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:src="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

<link th:href="@{/css/scrolling-nav.css}" rel="stylesheet">
<link th:href="@{/css/datepicker.css}" rel="stylesheet">

<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/scrolling-nav.js}"></script>
<script type="text/javascript"
	th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
	th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>


<style type="text/css">
.error {
	color: red;
}

.valid {
	color: green;
}
</style>

<script type="text/javascript">

$(document).ready(function() {
	$('.datepicker').datepicker({
        format: 'dd/mm/yyyy'
    });
});
        </script>
</head>

<body id="page-top">
	<!-- Navigation -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" th:href="@{/}">Flight
					Reservation</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<!-- Admin -->

						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							th:href="@{/admin/showaddflight}"
							sec:authorize="hasRole('ADMIN')">Add Flights</a></li>

						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							sec:authorize="hasRole('ADMIN')" th:href="@{/flightDashBoard}">Flight
								DashBoard</a></li>

						<!-- User -->
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							th:href="@{/findFlights}" sec:authorize="hasRole('USER')">Find
								Flights</a></li>

						<!-- Anonymus -->
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							sec:authorize="isAnonymous()" href="#about">ABOUT</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							sec:authorize="isAnonymous()" th:href="@{/login}">Sign/SignUp</a></li>

						<!-- Everyone -->
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							sec:authorize="isAuthenticated()" th:href="@{/logout}">logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>
