<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common-header">
<meta charset="ISO-8859-1">

<title>FlightReservation</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/css/scrolling-nav.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}" ></script>
<script type="text/javascript" th:src="@{js/jquery.validate.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/scrolling-nav.js}"></script>

<style type="text/css">
.error {
    color:red;
}
.valid {
    color:green;
}
</style>
</head>

<body id="page-top">
	<!-- Navigation -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" th:href="@{/}">Flight
					Reservation</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							href="#findFlights" sec:authorize="hasRole('USER')">Find
								Flights</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							href="admin/showaddflight" sec:authorize="hasRole('ADMIN')">Add
								Flights</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							sec:authorize="isAnonymous()" href="#about">ABOUT</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							sec:authorize="isAnonymous()" href="login">Sign/SignUp</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
</body>
</html>
